<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.legendary.common.mbg.rbac.mapper.SysRolePermissionRelationMapper">

    <resultMap id="BaseResultMap" type="pers.legendary.common.api.business.user.entity.SysRolePermissionRelation">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="roleId" column="role_id" jdbcType="INTEGER"/>
            <result property="permissionId" column="permission_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,role_id,permission_id
    </sql>
</mapper>
